@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');

:root{
    --ligth-blue:     #2de1fc;
    --ligth-green:    #2AFC98;
    --green:          #09E85E;
    --mid-green:     #16C172;
    --dark-green:     #214F4B;
    --ligth-grey:     #F5F5F5;
}

h1{
    font-size: 70px;
    margin: 0 0;
    padding-top: 1%;
}

h2{
    font-size: 30px;
    margin: 0;
    transform: translateY(-10px);
}

.top-banner{
    background-color: var(--dark-green);
    height: 100vh;
    padding: 50px, 20px;
    box-sizing: border-box;
}

.top-banner h1, h2{
    color: var(--ligth-green);
}

.wrapper{
    width: 960px;
    margin: 0 auto;
    padding: 2% 0 0;
}

.profile-picture img{
    border-radius: 180px;
    width: 260px;
    position: absolute; top: 12%; left: 65%;
}

.social-link{
    display: flex;
    padding: 0.5% 0;
    margin: 0;
}

.social-link img{
    width: 30px;
    height: 30px;
    padding: 0 1%;
    margin: 0;
}

.social-link p{
    color: var(--mid-green);
    font-size: 16px;
    margin: 0;
    padding-top: 0.5%;
}

.social-link a{
    color: var(--mid-green);
    text-decoration: none;
}
.social-link a:hover{
    color: #72ff47;
}

body{
    background-color: var(--ligth-grey);
    padding: 0;
    margin: 0;
    font-family: "VT323";
    /*font-family: "VT323", "Silkscreen", 'Times New Roman', serif;*/
}

.section h2{
    color: var(--dark-green);
}

footer{
    background-color: var(--dark-green);
    color: white;
    padding: 5%;
}

footer p{
    margin: 0;
}

.popup{
    display: none;
}

/*
To create button css: go to second lesson, chapter 20, ~13:00


color palette:
azul-saturado:  2DE1FC
ligth-green:    2AFC98
green:          09E85E
grey-hreen:     16C172
dark-green:     214F4B
ligth-grey:     F5F5F5









*/