@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');

:root{
    --ligth-blue:     #2de1fc;
    --ligth-green:    #2AFC98;
    --green:          #09E85E;
    --grey-hreen:     #16C172;
    --dark-green:     #214F4B;
    --ligth-grey:     #F5F5F5;
}

/*.silkscreen-regular {
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.silkscreen-bold {
    font-family: "Silkscreen", sans-serif;
    font-weight: 700;
    font-style: normal;
}*/

/*.top-bar{
    background-color: #161616;
    height: 10%;
    width: 100%;
    margin: 0;
    padding: 0;
}*/

.social-link{
    display: flex;
    padding: 1% 0;
    margin: 0;
}

.social-link img{
    width: 30px;
    height: 30px;
    padding: 0 1%;
    margin: 0;
}

.social-link p{
    color: rgba(255, 255, 255, 0.689);
    font-size: 16px;
    margin: 0;
    padding-top: 0.5%;
}

.social-link a{
    color: #79fd51b8;
    text-decoration: none;
}
.social-link a:hover{
    color: #72ff47;
}

body{
    background-color: var(--ligth-grey);
    padding: 0;
    margin: 0;
    font-family: "VT323", "Silkscreen", 'Times New Roman', serif;
}

footer{
    background-color: rgb(62, 144, 81);
    color: white;
    padding: 5%;
}

footer p{
    margin: 0;
}

.profile-picture img{
    border-radius: 180px;
    width: 260px;
}

/*.center-block{
    display: block;
    margin: 0 auto;
}

header{
    display: flex;
    align-items:flex-start;
    background-color: rgb(62, 144, 81);
    padding: 3% 1%;
}

header img{
    border-radius: 180px;
    width: 260px;
    
}

header h1{
    color: white;
    font-size: 50px;
}

header h2{
    color: rgba(255, 255, 255, 0.615);
    font-size: 30px;
}*/


/*main{
    max-width: 1900px;
    margin: 0 auto;
    padding: 0 20px;
    
}

main img{
    width: 100px;
}

h1, h2{
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-style: normal;
}
main h2{
    font-size: 50px;
    background: #949494;
    color: aliceblue;
    text-align: center;
}*/


/*
To create caption for image: go to first lesson, chapter 10, 21:50

color palette:
azul-saturado:  2DE1FC
ligth-green:    2AFC98
green:          09E85E
grey-hreen:     16C172
dark-green:     214F4B
ligth-grey:     F5F5F5









*/